.App {
  display: flex;
  flex-direction: column;
  height: 100 vh;
  width: 100 vw;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

footer {
  text-align: center;
}

.movieTitle {
  font-weight: bold;
  text-align: center;
}

.moviePanel{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height:300px;
  width:600px;
  border:1px black solid;
  margin:auto;
}

.contentPanel{
  height: 300px;
  width: 600px;
  border:black 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 10px;
  background: goldenrod;
}
.imageClass{
  width: 200px;
  height: 300px;
  border: 1px solid black;
  
}

.description{
  color:maroon;
}

.stars{
  
}

.director{

}